@import "tailwindcss";

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
  }

  @keyframes slow-shake {
  0%, 100% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(2px, -2px) rotate(-1deg);
  }
  50% {
    transform: translate(-2px, 2px) rotate(1deg);
  }
  75% {
    transform: translate(1px, -1px) rotate(0.5deg);
  }
}

.animate-slow-shake {
  animation: slow-shake 6s ease-in-out infinite;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}
.animate-float {
  animation: float 4s ease-in-out infinite;
}
